.my-cart{
    text-align: center;
    color: #302121;
    font-size: 50px;
}

.card{
    width: 500px;
    height: max-content;    
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1rem;
    display: flex;
    gap: 1rem;
    margin-bottom: 30px;
}

.prodimg{
    width: 100px;
    aspect-ratio: 1;
    border-radius: 20px;
}

.card{
    width:1000px;
    background-color: #eeddcc;
    cursor: pointer;
}

.cart-items-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}
.productname{
    font-weight: bold;
    font-size: 35px;
}

.productprice {
    font-weight: 500;
    font-size: 25px; 
}

.prodcontent{
    line-height: 2;
    padding-left: 60px;
    color:#302121;
}

.price-buttons{
    display: flex;
    flex-direction:row;
    margin-top: 20px;
}

.price{
    width: 60px;
    height:40px;
    background-color: #fff;
    border-radius:5px;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.plus{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #fff;
    font-size: 20px;
}

.minus {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #fff;
    font-size: 20px;
}

.remove{
    margin-left: 400px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #fff;
    font-size: 20px;
}

.remove:hover {
    background-color: rgb(220, 220, 189);
}

.plus:hover{
    background-color: rgb(220, 220, 189);
}

.minus:hover {
    background-color: rgb(220, 220, 189);
}