@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins&family=Roboto+Slab:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.about-con {
  padding: 20px 20px;
}
.about-con h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  padding: 20px;
}

.main-about {
  display: flex;
  gap: 6em;
  padding: 20px;
}
.about-img img {
  width: 500px;
  margin-left: 80px;
  border: none;
  border-radius: 100px 10px 100px 10px;
  box-shadow: rgba(0, 0, 0, 0.1);
}
.about-text {
  width: 700px;

  margin-top: 57px;
}
.pro-nav {
  display: flex;
  justify-content: center;
}
#product-bar {
  display: flex;
  justify-content: center;
}
#product-bar {
  list-style: none;
  padding: 20px;
}
.pro-con h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  padding: 20px;
}
.list {
  padding: 0 30px;
  position: relative;
}
.list a {
  text-decoration: none;
  color: #302121;
}
.list a.active {
  color: #302121;
}
.list a.active::after,
.list a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #302121;
  position: absolute;
  bottom: -4px;
  left: 40px;
}

#cakes {
  display: flex;
  width: 80%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  justify-items: center;
  margin: auto;
}
.cakes-box {
  background-color: #eeddcc;
  width: 20%;
  border-radius: 7px;
  margin: 20px 10px 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.cakes-box a {
  text-decoration: none;
}
.cakes-box .star i {
  color: #302121;
}
.cakes-box:hover {
  transform: scale(1.05);
}

.cakes-box .cakes-img img {
  width: 100%;
  border-radius: 7px 7px 0 0;
}
.cakes-text {
  text-align: center;
}
.cakes-text h3 {
  padding: 3px;
  color: #302121;
}
.cakes-text h4 {
  padding: 5px;
  color: #302121;
}
.pro-con {
  padding-bottom: 80px;
}
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px;
  background-image: url();
  width: 100%;
  height: 30vh;
  background-size: cover;
  background-position: center;
}
#banner h4 {
  color: #302121;
  font-size: 20px;
}
#banner h2 {
  color: #302121;
  padding: 10px 0;
  font-size: 30px;
  line-height: 1.8;
}
.normal {
  padding: 10px;
  border: none;
  background-color: #302121;
  color: #eeddcc;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
}
.normal:hover {
  transform: scale(1.05);
}
#feature {
  padding: 60px 0;
}
.box1-img {
  margin-right: 78px;
}

.box-1,
.box-2 {
  display: flex;
  gap: 17rem;
}
#feature .box1-text {
  margin-top: 140px;
  margin-left: 120px;
  width: 50%;
  line-height: 1.5;
}

#feature .box1-img img {
  width: 500px;
  margin-left: 100px;
}
#feature .box1-text h3 {
  font-size: 40px;
  padding-bottom: 20px;
}
#feature .box1-text p {
  width: 500px;
  line-height: 1.5;
}
#feature .box2-text h3 {
  padding-bottom: 20px;
}
#feature .box2-text p {
  line-height: 1.5;
}
#feature .box2-img img {
  width: 500px;
  margin-left: 10px;
}
#feature .box2-text {
  margin-top: 170px;
  margin-left: 120px;
  width: 50%;
  line-height: 1.5;
}
#feature .box2-text h3 {
  font-size: 40px;
}
#feature .box2-text p,
#feature .box2-text h3 {
  width: 500px;
}

#footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #eeddcc;
}
#footer .col1,
#footer .col2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
#footer .col img {
  margin-bottom: 30px;
  width: 170px;
}
#footer h4 {
  font-size: 20px;
  padding-bottom: 20px;
}
#footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}
#footer a {
  font-size: 13px;
  text-decoration: none;
  color: #000000;
  margin: 0 0 8px 0;
}
#footer .follow {
  padding-left: 50px;
  font-size: 1.5rem;
}
#footer .follow i {
  color: #3e3b3b;
  padding-right: 4px;
  cursor: pointer;
}
.foot-con {
  display: flex;
}
.foot-con h1 {
  margin-top: 36px;
  font-size: 40px;
}
.contact-col {
  padding-left: 50px;
}
.col1 {
  padding-top: 45px;
  padding-right: 50px;
}
.col2 {
  padding-top: 45px;
  padding-right: 90px;
}

#footer .follow i:hover,
#footer a:hover {
  color: #302121;
}
.copyright {
  text-align: center;
  padding-bottom: 30px;
  background-color: #eeddcc;
}
.service-head {
  text-align: center;
  padding: 20px;
}
.service-head h1 {
  font-size: 40px;
}
.service-row {
  display: flex;
  width: 80%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  justify-items: center;
  margin: auto;
  padding: 40px;
}

.service-card {
  width: 30%;
  border-radius: 7px;
  margin: 20px 10px 10px;
  background-color: #eeddcc;
  transition: 0.3s;
  cursor: pointer;
}

.service-card-logo {
  width: 80px;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 149px;
}

.service-card-logo i {
  font-size: 30px;
  height: 3px;
  margin-left: 25px;
}

.service-card-header {
  text-align: center;
  padding: 20px;
}

.service-card-header h1 {
  font-size: 20px;
  font-weight: 700;
}

.service-card-body {
  padding: 20px;
  text-align: center;
  font-style: 18px;
}

.service-card-body p {
  position: relative;
  bottom: 29px;
}

.service-card:hover {
  border: 1px solid #302121;
}

.service-card:hover i {
  height: 3px;
  color: #462f2f;
}
